<ion-header>
  <ion-toolbar>
    <ion-title>Datos Personales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="Inicio" color="secondary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input [(ngModel)]="apellidos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Localidad</ion-label>
    <ion-input [(ngModel)]="localidad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Estudios Cursados</ion-label>
    <ion-input [(ngModel)]="estudioscursados"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="contrasena" [maxlength]=17></ion-input>
  </ion-item>
  <ion-button fill="solid" (click)="submit()">Enviar</ion-button>
</ion-content>
