<ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="Inicio" color="secondary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="DAM">
        <ion-icon name="laptop-outline"></ion-icon>
        <ion-label>1ºDAM</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="2DAM">
        <ion-icon name="phone-portrait-outline"></ion-icon>
        <ion-label>2ºDAM</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="FCT">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>FCT</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
